h3{
  background-color: rgba(255,255,255,0.75);
  padding:1rem;
  border-radius: 2rem;
  margin:0 -0.5rem;
}

button{
  color:#495057 !important;
  background-color: #e9ecef !important;
  border: 1px solid #ced4da !important;
}