<!-- Ezt nem láttuk jönni! Hőseink nem ebben a komponensben sorakoznak fel!-->

<!-- <div class="row">
  <div class="col-12 mb-1 pt-1 pb-1 d-flex justify-content-between">
    <app-cell [data]="row" [key]="'id'"></app-cell>
    <app-cell [data]="row" [key]="'catID'"></app-cell>
    <app-cell [data]="row" [key]="'name'"></app-cell>
    <app-cell [data]="row" [key]="'description'"></app-cell>
    <app-cell [data]="row" [key]="'image'"></app-cell>
    <app-cell [data]="row" [key]="'price'"></app-cell>
    <app-cell [data]="row" [key]="'stock'"></app-cell>
    <app-cell [data]="row" [key]="'featured'"></app-cell>
    <app-cell [data]="row" [key]="'active'"></app-cell>
    <app-action-button-group (selectClick)="onSelectClicked()" (updateClick)="onUpdateClicked()"
      (deleteClick)="onDeleteClicked()"></app-action-button-group>
  </div>
</div> -->
