<ng-container *ngIf="currentProduct$ | async as currentProduct">
  <div class="card h-100 my-2 mx-1 pt-3 rounded-3 shadow">
    <img [src]="src" class="card-img-top" [alt]="currentProduct.name">
    <div class="card-body d-flex flex-column">
      <h5 class="card-title text-center">{{ currentProduct.name }}</h5>
      <p class="card-text text-center m-0"><em>{{ currentProduct.description }}</em></p>
      <div class="mt-auto">
        <ul class="list-group list-group-flush">
          <li class="list-group-item card-text text-center">Bérlés díja: {{ currentProduct.price }} Ft</li>
          <li class="list-group-item card-text text-center">Készleten: {{ currentProduct.stock }} hős</li>
        </ul>
        <a href="#" class="btn btn-warning btn-block mt-auto">Hire me!</a>
      </div>
    </div>
  </div>
</ng-container>
