<div class="row">
  <div class="col-12">
    <h3 class="text-center py-5"> Üdv az Admin Felületen! Mibe vágod ma a fejszédet?</h3>

  </div>
</div>


<div class="row">
  <div class="col-6 py-5">

    <button routerLink="/add-product" class="btn btn-light btn-block btn-lg">új Hős hozzáadása
      <i class="fa fa-user-plus" aria-hidden="true"></i></button>
    </div>

  <div class="col-6 py-5">

  <button routerLink="/data-editor" class="btn btn-light btn-block btn-lg">Hős adatbázis kezelése
      <i class="fa fa-users" aria-hidden="true"></i></button>

  </div>
</div>

<div class="row">
  <div class="col-6 py-5">

    <button routerLink="/add-category" class="btn btn-light btn-block btn-lg">új kategória hozzáadása
      <i class="fa fa-plus" aria-hidden="true"></i></button>
    </div>

  <div class="col-6 py-5">

  <button routerLink="/category-editor" class="btn btn-light btn-block btn-lg">Kategóriák kezelése
      <i class="fa fa-object-group" aria-hidden="true"></i></button>

  </div>
</div>

