<div class="row">
  <div class="col-12">
    <h3 class="text-center py-5"> Üdv az Admin Felületen! Mibe vágod ma a fejszédet?</h3>
  </div>
</div>

<div class="row">
  <div class="col-6 py-3">
    <button routerLink="/add-product" class="btn btn-light btn-block btn-lg py-3">új Hős hozzáadása
      <i class="fa fa-user-plus" aria-hidden="true"></i></button>
  </div>
  <div class="col-6 py-3">
    <button routerLink="/category-editor" class="btn btn-light btn-block btn-lg py-3">Kategóriák kezelése
      <i class="fa fa-object-group" aria-hidden="true"></i></button>
  </div>
</div>

<div class="row mb-3">
  <div class="col-4">
    <select [(ngModel)]="filterKey" class="form-control">
      <option value="">összes oszlop</option>
      <option *ngFor="let key of keys" [value]="key">
        {{ key | titlecase }}
      </option>
    </select>
  </div>
  <div class="col-8">
    <input [(ngModel)]="phrase" type="text" class="form-control">
  </div>
</div>

<div class="row">
  <div class="col-12">
    <table class="table table-responsive-sm">
      <thead>
        <tr>
          <th *ngFor="let key of keys"> {{ key | titlecase}} </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of list$ | async | filter:phrase:filterKey">
          <td> {{product.id}}</td>
          <td>{{product.catId}}</td>
          <td>{{product.name}}</td>
          <td>{{product.description}}</td>
          <td>{{product.image}}</td>
          <td>{{product.price}}</td>
          <td>{{product.stock}}</td>
          <td><select name="featured" [value]="product.featured" [disabled]="disabled">
              <option value="true">kiemelt</option>
              <option value="false">nem kiemelt</option>
            </select>
          </td>
          <td><select name="active" [value]="product.active" [disabled]="disabled">
              <option value="true">aktív</option>
              <option value="false">inaktív</option>
            </select></td>
          <td>
            <div class="btn-group" role="group">
              <button [routerLink]="['/', 'data-editor', product.id]" class="btn btn-info"><i
                  class="fa fa-eye"></i></button>
              <button (click)="onRemoveProduct(product)" type="button" class="btn btn-danger"><i
                  class="fa fa-trash"></i></button>

            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
