
<div class="row">
 <div class="col-12 my-5">
    <a routerLink="/add-product" class="btn btn-light btn-block btn-lg">új Hős hozzáadása</a>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <table class="table table-sm">
      <thead>
        <tr>
          <th *ngFor="let key of keys"> {{ key | titlecase}} </th>
          <th></th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of list$ | async">
          <td> <input type="number" name="id" [value]="product.id" oninput="this.size = this.value.length" disabled="disabled"></td>
          <td> <input type="number" name="catDd" [value]="product.catId"></td>
          <td> <input type="text" name="name" [value]="product.name"></td>
          <td><input type="textarea" name="description" [value]="product.description"></td>
          <td><input type="text" name="image" [value]="product.image"></td>
          <td><input type="number" name="price" [value]="product.price"></td>
          <td><input type="number" name="stock" [value]="product.stock"></td>
          <td><select name="featured" [value]="product.featured">
            <option value="true">kiemelt</option>
            <option value="false">nem kiemelt</option>
          </select>
            </td>
          <td><select name="active" [value]="product.active">
            <option value="true">aktív</option>
            <option value="false">inaktív</option>
          </select></td>
                    <td>
            <div class="btn-group" role="group">
            <button type="button" class="btn btn-info"><i class="fa fa-pencil"></i></button>
            <button (click)="onUpdateProduct(product)"type="button" class="btn btn-success"><i class="fa fa-floppy-o"></i></button>
            <button (click)="onRemoveProduct(product)" type="button" class="btn btn-danger"><i class="fa fa-trash"></i></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


