<div class="row">
  <div class="col-12 my-5">
    <a routerLink="/add-product" class="btn btn-light btn-block btn-lg">új Hős hozzáadása</a>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th *ngFor="let key of keys"> {{ key | titlecase}} </th>
          <th></th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of list$ | async">
          <td>{{product.id}}</td>
          <td>{{product.catId}}</td>
          <td>{{product.name}}</td>
          <td>{{product.description}}</td>
          <td>{{product.image}}</td>
          <td>{{product.price}}</td>
          <td>{{product.stock}}</td>
          <td>{{product.featured}}</td>
          <td>{{product.active}}</td>
          <td>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-info"><i class="fa fa-pencil"></i></button>
            <button type="button" class="btn btn-success"><i class="fa fa-floppy-o"></i></button>
            <button type="button" class="btn btn-danger"><i class="fa fa-trash"></i></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>

