
<h3 class="text-center mt-2">Kiemelt ajánlatunk:</h3>
<app-product-slider [list]="featuredToDisplay"></app-product-slider>

<div class="jumbo mt-5 shadow-lg text-center rounded">
  <p class="lead font-weight-bold">Megoldás minden problémára</p>
  <hr class="my-2">
  <h1 class="display-4 font-weight-normal">Béreljen SzuperHőst!</h1>
  <hr class="my-3">
  <p class="lead font-weight-bold">Válasszon mesés kínálatunkból!</p>
</div>

<h3 class="text-center mt-4">Akciós Hőseink:</h3>
<app-product-slider [list]="discountToDisplay"></app-product-slider>