/* You can add global styles to this file, and also import other style files */

  background-image: url("./assets/bg_img/bg.jpg");
  background-size: cover;
  background-position: center top;  
  background-attachment: fixed;
 }
